---
# Enable this feature if you want to change the password of the pi user
change_password: false
pi_user_password: 'password'

hostname: raspberrypi

# You can choose if you want to instal these dependencys
nmap: true