---
# Enable this feature if you want to change the password of the pi user
change_password: false
pi_user_password: 'password'

# You can choose if you want to instal these packages
nmap: true
docker: true
nodejs: true

# If you enable this feature it will pull the docker container you chose ans install it on the raspberry pi
install_docker_container: false
container_name: Image
docker_image: someuser/image